<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.uk.davemcqueen.Sophie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SophieActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                    
            </intent-filter>
        </activity>
         <activity 
            android:name=".topgallery"
            android:label="Top Gallery"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="co.uk.davemcqueen.Sophie.topgallery" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".bottomgallery"
            android:label="Bottom Gallery"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="co.uk.davemcqueen.Sophie.bottomgallery" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>